<style>    
    

    /********************* COLORS *************************/      
    
    /* #B49775 Sand */
    /* #e2d1bc Lighter Sand */
    /* #423E3B Wet Earth*/
    /* #7D899F Ribbon Blue*/
    /* #552C26 Dark Red */
    /* #080808 Warm Dark Grey */
     
     
    /********************* NAVBAR *************************/
    
    .navbar-inverse .navbar-toggle {
        border-color: #B49775 !important;
    }

    .fa-bars {color: #B49775;}

    .navbar-inverse .navbar-header {font-family: 'Pattaya', sans-serif;}
    
    .navbar-inverse .navbar-nav > li {
        font-weight: bold;
        font-family: 'Poiret One', cursive sans-serif;    
    }    
    
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #E2D1BC !important;
    }

    .navbar-inverse .navbar-nav > .active > a {
        background: #080808 !important;
    }

    
    /********************* BODY ***************************/
    
    .col-sm-6 h1 { /* Headline Text*/
        font-family: 'Pattaya', 'Poiret One', sans-serif;
        font-size: 100px;
    }
    
    #aboutMe { /* Headline Container */
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: #7D899F;
      color: white;
    }
    
    body {
      position: relative;
      line-height: 1.8;
      padding-top: 50px; /*To keep first container and navbar from colliding*/
    }
    
    body p, .panel-body, .panel-title, footer strong{
        font-family: 'Raleway', serif;
    }
  
    body h1, h2, h3 {
        font-family: 'Poiret One', cursive sans-serif;
    }
    
    h3 {
        font-weight: thin;
    }
    
    .margin {margin-bottom: 45px;}
    
    .fa-circle {color: #7D899F;}

    .panel-group >.panel-default >.panel-heading {
        background-color: #552C26;
        color: #E2D1BC;
    }
    
    #backgroundContainer .panel-default {
        background-color: rgba(245, 245, 245, 0.85)
    }  
    
    #backgroundContainer {
        background-image: url("../images/dusk.png");
    {
    
  
    /********************* FOOTER *************************/
    
    #contactMe {
        background-color: #7D899F;
        color: white;
    }
    
    
    .fa-angle-double-up {
        color: #080808;
    }
    

</style>
